---
import ArrowIcon from "@/icons/Arrow.astro";
import QuestionIcon from "@/icons/Question.astro";
---

<section class="flex justify-center">
  <div class="mx-10 w-[80%]" id="accordion-open" data-accordion="open">
    <!-- Pregunta 1 -->
    <h2 class="mb-0" id="accordion-open-heading-1">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-0 dark:bg-neutral-800 dark:text-white text-black border-gray-800 focus:ring-2 focus:ring-neutral-200 bg-gray-300 hover:bg-gray-400 dark:hover:bg-gray-600 dark:border-neutral-400 dark:text-neutral-400 dark:focus:ring-neutral-800 gap-3"
        data-accordion-target="#accordion-open-body-1"
        aria-expanded="false"
        aria-controls="accordion-open-body-1"
      >
        <span class="flex items-center text-black dark:text-white">
          <QuestionIcon />¿Dónde queda el Gimnasio?
        </span>
        <ArrowIcon />
      </button>
    </h2>
    <div id="accordion-open-body-1" class="hidden">
      <div class="p-5 border border-b-1 border-black dark:border-white">
        <p class="text-black dark:text-white">
          El gimnasio se encuentra en la
          <a
            href="https://www.google.com/maps/dir//Guerreros+Gym+Center,+Santo+Domingo"
            target="_blank"
            rel="noopener noreferrer"
            class="text-red-600 dark:text-red-600 hover:underline"
          >Av. Abraham Calazacom.</a>
        </p>
        <p class="text-black dark:text-white">
          ¡Ven a visitarnos y descubre todo lo que nuestro gimnasio tiene para ofrecer!
        </p>
      </div>
    </div>

    <!-- Pregunta 2 -->
    <h2 class="mt-2 sm:mt-0" id="accordion-open-heading-2">
      <button
        type="button"
        class="flex items-center justify-between w-full p-5 font-medium rtl:text-right border border-b-1 dark:bg-neutral-800 dark:text-white text-black border-gray-800 focus:ring-2 focus:ring-neutral-200 bg-gray-300 hover:bg-gray-400 dark:hover:bg-gray-600 dark:border-neutral-400 dark:text-neutral-400 dark:focus:ring-neutral-800 gap-3"
        data-accordion-target="#accordion-open-body-2"
        aria-expanded="false"
        aria-controls="accordion-open-body-2"
      >
        <span class="flex items-center text-black dark:text-white">
          <QuestionIcon />¿En qué horario se encuentra abierto?
        </span>
        <ArrowIcon />
      </button>
    </h2>
    <div id="accordion-open-body-2" class="hidden">
      <div class="text-black dark:text-white p-5 border border-b-1 border-black dark:border-white">
        <p class="text-black dark:text-white pb-4">
          Nuestro gimnasio está abierto de <span class="text-red-600">Lunes a Sábado</span> para adaptarse a tu estilo de vida y tus necesidades de entrenamiento:
        </p>
        <ul class="text-black dark:text-white list-disc pl-5 mb-4">
          <li><strong>Lunes a Viernes:</strong> 5:40 AM - 8:00 PM</li>
          <li><strong>Sábados:</strong> 5:40 AM - 12:00 PM</li>
        </ul>
        <p>
          ¡Te esperamos para que vengas a entrenar en el horario que más te convenga!
        </p>
      </div>
    </div>
  </div>
</section>
