<article class="flex flex-col max-w-[80%] justify-center items-center">
  <figure class="max-w-[540px] max-h-[528px]">
    <img
      src="../../dumbbells.jpg"
      class="max-w-[540px] max-h-[528px]"
      alt=""
    />
  </figure>
  <section class="bg-red-800    w-[540px] max-h-[528px] pt-5 pb-4">
    <div class="text-white p-14">
      <h2 class="font-bold text-4xl">
        CONSULTA CON UN<br /> NUESTROS PROFESIONALES
      </h2>
      <hr class="bg-white h-px my-10" />
      <p class="my-5 text-sm text-balance max-w-[340px]">
        Una forma más reflexiva de experimentar bien las joyas, construidas a tu
        alrededor.
      </p>
      <div class="button-container flex flex-col items-start py-4 gap-3">
        <button class="btn-1 border-white border-[2px] py-3 px-12">
          UBICACIÓN
        </button>
        <button
          class="btn-2 bg-white text-black border-white border-2 py-3 px-12"
        >
          COTIZACIÓN
        </button>
      </div>
    </div>
  </section>
</article>
<style>
  .btn-1 {
    border: transparent 1px solid;
    background-color: #000;
  }
  .btn-2 {
    border: #fff 1px solid;
    background-color: #fff;
  }
  .btn-1:hover {
    background-color: transparent;
    border: #fff 1px solid;
    color: #fff;
  }
  .btn-2:hover {
    background-color: transparent;
    color: #fff;
  }
</style>
