---
import Card from "@/main/Card.astro"
import Pricing from "@/main/Pricing.astro"
import Accordion from "@/main/Accordion.astro"
import HeaderText from "@/main/HeaderText.astro"
import Footer from "@/Footer.astro"
import Navbar from "@/Navbar.astro"
import Contact from "@/main/Contact.astro"

import Layout from '../layouts/Layout.astro';

---
<Layout title="Gimnasio Fitness - Guerreros Gym Center | Gymnasio">

	<main>
		<HeaderText/>
		<Pricing/>
		<!-- About Me -->
		<Card/>
		<Accordion/>
		<Contact/> 
	</main>
</Layout>

