---
import Whatsapp from "./icons/Whatsapp.astro";
import Instagram from "./icons/Instagram.astro";
import Facebook from "./icons/Facebook.astro";
---

<footer class="text-white mt-10 mb-4">
  <div class="mb-4">
    <img
      id="logo"
      class="size-[200px] mx-auto"
      src="../logo.png"
      alt="Guerreros Gym Center logo"
    />
  </div>

  <div class="flex justify-center space-x-8 mb-6 mt-4">
    <Instagram id="instagram-icon" class="social-icon size-8" />
    <Facebook id="facebook-icon" class="social-icon size-8" />
    <Whatsapp id="whatsapp-icon" class="social-icon size-8" />
  </div>

  <div id="copyright" class="text-center">
    Creado por Guerreros Gym Center (2024) &#169;
  </div>
</footer>
